@font-face {
    font-family: 'Roc_Grotesk_Regular';
    src: url('/fonts/Roc_Grotesk_Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* Optional: Add this to test if the font is loading */
.font-roc {
    font-family: 'Roc_Grotesk_Regular', sans-serif !important;
}